<!DOCTYPE html>
<html lang="en">
    <%- include("./head1.ejs") %>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cryptocurrency Exchange </title>
        <script src="https://code.jquery.com/jquery-3.6.1.js" 
    integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>    
<style>
    .crypto_exchange{
        border-radius: 30px;
    text-align: center;
    color:white;
    background-color: red;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    }
    .Cryptocurrency_exchange_index{
  writing-mode: horizontal;
  border: 5px solid yellow;
  border-inline-style:dashed;}
</style>
    <body>
        <div class="crypto_exchange">
    <main class="crypto_currrency_main">
        <h2><u><b>Cryptocurrency Exchange Coin/Token Information <img src="https://imgs.search.brave.com/DYy1-8EE3b6MgWvdtAlTb6EPZlMRfeBGcpe6JAz9T4o/rs:fit:474:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5j/eWQxdDlsWEtmTzl5/T2FSS0s4cl9BSGFI/YSZwaWQ9QXBp" style="width:10%"></b></u></h2>
            <% for(let index=0; index < crypto_ex.length; index++) { %>
            <div class="Cryptocurrency_exchange_index">
                <p><b>Crypto Exchange ID</b>: <em><a href="/crypto_exchange_show/<%=index%>"><%=crypto_ex[index].crypto_exchange_id %></a></em></p>
                </div>
    </main>
       <% } %>
    </div>
    <a href="/crypto_exchange_new"><button type="button">Add New Cryptocurrency Exchange Instance</button></a>
    <button class="return_to_crypto_index"><a href="/">Return to Crypto Home Screen</a></button>
</body>
</html>